// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #888;
$body-color: black;
$primary: blue;
$secondary: burlywood;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

.card {
  color: black;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 0px;
  background-color: transparent !important;
  border: none;
}

.jumbotron {
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0rem;
  text-align: center;
}

.display-4 {
  flex-basis: 100%;
  font-style: italic;
}

.jumbotron-image {
  width: 10rem;
  flex-basis: 10rem;
  border-radius: 50%;
}

.lead {
  flex: 1;
  align-self: center;
}

nav {
  text-align: right;
}

footer {
  text-align: center;
}

.card-img {
  max-width: 64px;
  flex: 1 auto;
  align-self: center;
}

#contact,
#about_me {
  background-color: burlywood;
}
.card.contact {
  background-color: transparent;
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-title {
  flex-basis: 100%;
  text-align: center;
}

.navbar {
  justify-content: space-evenly;
}

section {
  scroll-snap-type: initial;
  scroll-margin-top: 64px;
  scroll-padding-top: 64px;
}

details > summary {
  max-width: 25em;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #111;
  text-align: center;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > ul {
  max-width: 25em;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 4px #111;
}

.dots {
  list-style-type: disc;
}

.odd {
  background-color: lightgrey;
  list-style: none;
}

.even {
  background-color: burlywood;
}

.subsummary {
  background-color: lightcyan;
}

.subul {
  background-color: lightgoldenrodyellow;
}

.card-right {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-body.right {
  flex: 1;
}

.grey-background {
  background-color: lightgray;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}
