// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #666;
$body-color: black;
$primary: limegreen;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.card {
  color: black;
}

.card.odd {
  background-color: burlywood;
}

.card.even {
  background-color: lightgrey;
}

.jumbotron {
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.display-4 {
  flex-basis: 100%;
}

.jumbotron-image {
  width: 10rem;
  flex-basis: 10rem;
}

.lead {
  flex: 1;
  align-self: center;
}
